@import '@fontsource/tajawal/400.css';
@import '@fontsource/tajawal/700.css';
@import '@fontsource/tajawal/900.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html[dir='rtl'] { font-family: 'Tajawal', sans-serif; }
* { font-family: inherit; }
body { background: #f9f9f9; color: #333; }
